.mb30{

	margin-bottom: 30px !important;
}

.mb60{

	margin-bottom: 60px !important;
}

.product-wrapper .product-info .product-price .price ins{

	color: #211A5B !important;
}

.mt30{

	margin-top: 30px !important;
}

[class*="product-search-"] .form-inline.search-pill-shape {
    background-color: var(--theme-white-color);
   
}

.border_black{

	 border: 1px solid #000 !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #a5a5a5 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #a5a5a5 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #a5a5a5 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #a5a5a5 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #a5a5a5 !important;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #a5a5a5 !important;
}

.categoris{
  width: 150px;
  height: 30px;
  padding: 5px;
  color: #fff;
}
.categoris option { color: #fff; }
.categoris option:first-child{
  color: #fff ;
}

.categoris option:checked{
   color:  #fff;
}
.categoris:focus{
  background-color: #0fbfdf  !important;
   color:  #fff;
}

.categoris:active{
  background-color: #0fbfdf  !important;
   color:  #fff;
}


