.mb30 {

   margin-bottom: 30px !important;
}

.mb60 {

   margin-bottom: 60px !important;
}

.product-wrapper .product-info .product-price .price ins {

   color: #211A5B !important;
}

.mt30 {

   margin-top: 30px !important;
}

[class*="product-search-"] .form-inline.search-pill-shape {
   background-color: var(--theme-white-color);

}

.border_black {
   border: 0px solid #000 !important;
}

::-webkit-input-placeholder {
   /* WebKit, Blink, Edge */
   color: #a5a5a5 !important;
}

:-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
   color: #a5a5a5 !important;
   opacity: 1;
}

::-moz-placeholder {
   /* Mozilla Firefox 19+ */
   color: #a5a5a5 !important;
   opacity: 1;
}

:-ms-input-placeholder {
   /* Internet Explorer 10-11 */
   color: #a5a5a5 !important;
}

::-ms-input-placeholder {
   /* Microsoft Edge */
   color: #a5a5a5 !important;
}

::placeholder {
   /* Most modern browsers support this now. */
   color: #a5a5a5 !important;
}

.categoris {
   width: 150px;
   height: 30px;
   padding: 5px;
   color: #fff;
}

.categoris option {
   color: #fff;
}

.categoris option:first-child {
   color: #fff;
}

.categoris option:checked {
   color: #fff;
}

.categoris:focus {
   background-color: #0fbfdf !important;
   color: #fff;
}

.categoris:active {
   background-color: #0fbfdf !important;
   color: #fff;
}

#prod_name2 {
   height: 50px !important;
}

.search-submit {
   right: 0px !important;
}

#searchForm {
   border: 1px solid gery !important;
}

.product-search-one {
   border: 2px solid grey;
   border-radius: 50px;
   margin-top: 0px;
}

.info-area {
   margin-right: 20px;
   margin-left: 20px;
}

.owl-dots {
   display: flex !important;
   flex-wrap: wrap;
   justify-content: center;
}

.cart-icon .header-cart-count {
   top: -14px !important;
   left: -10px !important;
}


.owl-dots button.owl-dot {
   margin: 10px 5px !important;
}

.text-white .breadcrumb-item>a, .text-white .breadcrumb-item.active, .media-icon-white a, .nav-white .navbar-nav .nav-link {
   color: #000 !important;
}


.modalBackground {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 19;
   /* Sit on top */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: scroll;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 500px;
   display: flex;
   justify-content: center;
}

/* The Close Button */
.close {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

.img-product {
   position: inherit !important;
   width: 300px;
}

#myBtn {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

#gallery_09 .owl-item {
   width: 100px !important;
}

/* .header-cart-1 .cart-icon, .header-cart-6 .cart-icon, .search-view > a, .wishlist-view > a, .refresh-view > a, .cart-view > a, .sign-in > a {
  background-color: #f3f0f0 !important;
} */

@media only screen and (max-width: 490px) {
   .wp-gallery {
      display: none;
   }

   .banner-content {
      max-width: 50% !important;
   }
}

@media screen and (max-width: 1199px) {
   .search-view>a, .wishlist-view>a, .refresh-view>a, .cart-view>a, .sign-in>a {
      line-height: 35px;
      width: 40px !important;
      height: 40px !important;
   }
}

@media only screen and (min-width : 670px) {
   .img-product {
      position: inherit !important;
      /* width: 500px; */
   }
}

/* screen 420px and 991px */
@media (max-width:991px) and (min-width:420px) {
   [class*="product-search-"] .select-appearance-none {
      display: none;
   }
}

/* Rating Star Widgets Style */
.rating-stars ul {
   list-style-type: none;
   padding: 0;
   -moz-user-select: none;
   -webkit-user-select: none;
}

.rating-stars ul>li.star {
   display: inline-block;

}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
   font-size: 1.5em;
   /* Change the size of the stars */
   color: #ccc;
   /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
   color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
   color: #FF912C;
}

.review_image {
   width: 10%;
   border-radius: 50px;
}

.left-area {
   display: flex;
   align-items: flex-start;
   gap: 20px;
}

.namerating .name {
   font-size: 0.8rem;
   margin-bottom: 0;
}

.ratingstar .fa {
   font-size: 0.7rem;
}

.single-comment {
   padding: 15px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   margin-top: 10px;
   border-radius: 10px;
}

.single-comment .date {
   margin-left: auto;
}

.thumbimg .owl-stage{
   width: 100px !important;
} 

.thumbimg .owl-stage-outer{
   display: flex;
   justify-content: center;
}

.dealimg {
   width: 60% !important;
}

.dealimgcont {
   display: flex;
   justify-content: center;
   align-items: center;
}

.down-line-secondary{
   font-size: 1.6rem;
}

li.cat-item.cat-parent img {
   width: 20px;
   object-fit: cover;
}

.categorylogo{
   display: flex;
   gap: 10px;
}

.categorylogo img {
   width: 15px;
   height: 15px;
}

.select {
   position: relative;
   margin-bottom: 15px;
   width: 200px;
   /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
 }
 .select .selectBtn {
   background: var(--bg1);
   padding: 13px;
   box-sizing: border-box;
   color: white;
   border-radius: 3px;
   width: 100%;
   cursor: pointer;
   position: relative;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
   background: rgba(255, 255, 255, 0);
 }
 .select .selectBtn:after {
   content: "";
   position: absolute;
   top: 45%;
   right: 15px;
   width: 6px;
   height: 6px;
   -webkit-transform: translateY(-50%) rotate(45deg);
           transform: translateY(-50%) rotate(45deg);
   border-right: 2px solid rgb(255, 255, 255);
   border-bottom: 2px solid rgb(255, 255, 255);
   transition: 0.2s ease;
 }
 .select .selectBtn.toggle {
   border-radius: 3px 3px 0 0;
 }
 .select .selectBtn.toggle:after {
   -webkit-transform: translateY(-50%) rotate(-135deg);
           transform: translateY(-50%) rotate(-135deg);
 }
 .select .selectDropdown {
   position: absolute;
   top: 100%;
   width: 100%;
   border-radius: 0 0 3px 3px;
   overflow: hidden;
   background: var(--bg1);
   border-top: 1px solid #eee;
   z-index: 1;
   background: #fff;
   -webkit-transform: scale(1, 0);
           transform: scale(1, 0);
   -webkit-transform-origin: top center;
           transform-origin: top center;
   visibility: hidden;
   transition: 0.2s ease;
   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
 }
 .select .selectDropdown .option {
   padding: 10px;
   box-sizing: border-box;
   cursor: pointer;
 }
 .select .selectDropdown .option:hover {
   background: #f8f8f8;
 }
 .select .selectDropdown.toggle {
   visibility: visible;
   -webkit-transform: scale(1, 1);
           transform: scale(1, 1);
 }